<div class="center">
    <hr>
    <div id="dropzone">
        <form method="post" action="/file-upload" class="dropzone needsclick dz-clickable" id="uploadfile" enctype="multipart/form-data">
            <br>
            <img src="/../img/uploading-files.svg" class="upload-logo" alt="upload logo">
            <div class="dz-message needsclick"> <b>Drop files here</b> or click to upload.
            </div>
            <div class="fallback">
                <input name="file" type="file" id="uploaded"/>
            </div>
        </form>
    </div>
    </form>
</div>

