<style>
    #navTopRight{
        color: #FFFFFF;
        font-weight: bold;
    }

    .head-d {
        background-color: #3d150a;
    }

    .info{
        float: left;
        width: 42%;
        margin-top: 20px;
    }


    .eh{
        margin-top: 2px;
        margin-left:140px;
    }


    .top-nav{
        margin-left:370px;
    }

    .top-active{
        color: blue;
    }

    .navElement{
        font-size: 150%;
    }




</style>

<body>
<div class="head-d row">
    <div class="col-md-2 col-md-offset-1">
        <img src="img/logo.png" alt="OSC icon">
    </div>
    <div class="eh col-md-4 col-md-offset-2">
        <h4 style="font-size:200%;color: white;font-weight:bold">ICO Adminstration Dashboard</h4>
    </div>
    <div class="col-md-3">
        <h5 class="info" style="color: white;font-weight:bold">Welcome, Maureen</h5>
        <h5 class="info" style="color: white;text-decoration:underline">Logout</h5>
    </div>

</div>


